body {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
}

.div-1 {
  text-align: center;
}

.div-1 p {
  width: 490px;
  margin: auto;
}

.div-2 {
  text-align: center;
  margin-top: 30px;
}

.img-1 {
  background-color: hsl(171, 66%, 44%);
  border-radius: 20px;
  height: 40px;
  width: 150px;
}

.img-2 {
  border-radius: 20px;
  height: 40px;
  width: 150px;
  background-color: hsl(233, 100%, 69%);
}

.div-3 {
  text-align: center;
}

.div-3 p {
  width: 450px;
  margin: auto;
}

.div-4 {
  display: flex;
}

.div-4 img {
  width: 500px;
}
